body{
  background-color: #8E9AAF;
}
.main-panel{
  height: 100vh;
}
.login-page{
  height: 100vh;
}
.side-bar{
  height: 70vh;
  width: 230px;
  background-color: #cbc0d3;
  box-shadow: 8px 10px 5px 0px rgba(130, 106, 106, 0.75);
}
.top-bar{
  background-color: #cbc0d3;
  box-shadow: 10px 10px 5px 0px rgba(130, 106, 106, 0.75);
  height: 60px;
}
.inner-top-bar{
  background-color: #cbc0d3;
}
.content{
  min-width: 1350px;
}
.my-modal .modal-content {
  background-color: #8e9aaf;
}

